@use "../custom" as *;
@use "../components/mixins" as *;

nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height: 76px;
	.navbar-brand {
		opacity: 0.85;
		svg {
			width: 22px;
			height: auto;
		}
		&:hover {
			opacity: 1;
			transition: transform 0.1s ease 0s;
			transform: scale(1.2);
		}
	}
	ul {
		.nav-link {
			color: $black !important;
			align-items: center;
			padding: 0.25rem 0.75rem !important;
			@include media-breakpoint-up(lg) {
				display: flex !important;
			}
			&:hover {
				color: $primary !important;
			}
		}
		.dropdown-toggle {
			&:after {
				background-image: $dropdown-button-icon;
				width: $dropdown-icon-width;
				height: $dropdown-icon-height;
				border: none;
				margin-left: 0;
			}
			&:hover {
				&:after {
					background-image: $dropdown-button-hover;
				}
			}
		}
		.dropdown-toggle.show {
			&:after {
				transform: rotate(180deg);
			}
		}
		.dropdown-item {
			&:hover {
				color: $primary !important;
			}
		}
	}
	// === Mobile Navbar === //
	.offcanvas-start {
		border-right: none;
		.mobile-nav {
			overflow: scroll;
			@include media-breakpoint-up(lg) {
				display: none;
			}
			.mobile-nav-links {
				padding: 3.5rem 0.5rem 8rem;
				p {
					margin: 0.5rem 0.5rem;
				}
				ul {
					margin-bottom: 2.5rem;
					.dropdown-item {
						color: $gray-400;
						&:hover {
							background-color: unset;
						}
					}
				}
			}
		}
		.bottom-nav-group {
			position: fixed;
			bottom: 0;
			height: 108px;
			border-top: 1px solid $gray-200;
			width: 100%;
			max-width: 450px;
			flex: 1 1 120px;
			z-index: 1049;
			background-color: $white;
			padding: 1rem;
			.bottom-nav-button {
				width: 33%;
				i {
					font-size: 1.2rem;
				}
				span {
					color: $gray-400;
					text-transform: uppercase;
					font-size: 0.875rem;
					margin-top: 0.5rem;
					letter-spacing: 0.5px;
				}
				&:hover {
					color: $primary;
					span {
						color: $primary;
					}
					i.fa-globe {
						transform: scale(1.2);
					}
				}
			}
			@include media-breakpoint-up(lg) {
				display: none !important;
			}
		}

		@include media-breakpoint-up(lg) {
			// default 400px (breaks navbar)
			width: auto;
		}
	}
	.mobile-nav-group,
	#searchOffcanvasLg {
		.search-title {
			margin: 2.5rem 0 2rem;
		}
		form {
			display: flex;
			position: relative;
			.form-control {
			}
			i {
				position: absolute;
				right: 12px;
				margin-top: 9px;
				color: rgb(178, 178, 178);
			}
		}
		.search-img {
			color: $black;
			background: $gray-200;
			align-items: center;
			justify-content: center;
			margin-top: 10vw;
			align-self: center;
			width: min(60vw, 280px);
			height: min(60vw, 280px);
			border-radius: 100%;
			flex-direction: column;
			display: flex;
			img {
				width: 3em !important;
				height: 3em !important;
				margin: 0 !important;
			  }
		}
		@include media-breakpoint-up(lg) {
			display: none !important;
		}
	}
	#searchOffcanvasLg {
		z-index: 1047;
		button {
			font-size: 1.5rem;
		}
	}
	.nav-group {
		button {
			padding: 0 0.5rem;
			min-width: 40px;
			i {
				transform: scaleX(-1);
				font-size: 1.2rem;
			}
			&:hover {
				color: $primary;
			}
		}
		a {
			i {
				font-size: 1.2rem;
				margin: 0 0.5rem;
			}
			&:hover {
				i {
					transform: scale(1.2);
				}
			}
		}
		@include media-breakpoint-up(lg) {
			display: flex !important;
			form {
				position: relative;
				p {
					border: 1px solid $gray-400;
					border-radius: 0.25em;
					position: absolute;
					right: 15px;
					top: 45%;
					margin-top: -11px;
					margin-bottom: 0 !important;
					font-size: 0.875rem;
					color: $black;
					padding: 0 5px;
				}
				i {
					position: absolute;
					left: 18px;
					top: 50%;
					margin-top: -11px;
					color: $gray-300;
				}
			}
		}
	}
	button {
		.navbar-toggler-icon {
			width: 1.5rem !important;
			height: 1.5rem !important;
		}
	}
}
.navbar-toggler {
	width: 42px;
	&:focus {
		box-shadow: 0 0 0 0.25rem rgba(28, 28, 255, 0.25);
	}
}
/* working on changing button
.offcanvas.show > .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 40' class='css-1xalntp ejzo28p15'%3E%3Cpath d='M 2 13 l 10 0 l 0 0 l 10 0 M 4 19 l 8 0 M 12 19 l 8 0 M 2 25 l 10 0 l 0 0 l 10 0'%3E%3C/path%3E%3C/svg%3E");
}
*/
